@media screen and (max-width: 600px){
    .navbar{
        position: relative;
    }

    .navbar .mi-cuenta{
        display: none;
    }
    
    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar .menu{
        display: none;
    }

    /*MAIN*/

    .principal .contenido{
        grid-row: 3/7;
    }

    .principal h1{
        font-size: 25px;
    }

    .principal p{
        font-size: 12px;
    }

    .principal .boton{
        font-size: 10px;
        font-weight: 900;
        color: yellow;
        text-transform: uppercase;
        background: black;
        border: solid 1px yellow;
    }

    /*FOOTER*/

    .piedepagina{
        height: 110px;
    }

    .piedepagina .seguime{
        display: none;
    }

    .piedepagina .redes-sociales{
        font-size: 25px;
        
    }

}

@media (min-width: 601px) and (max-width: 900px){
    .navbar{
        position: relative;
    }

    .navbar .mi-cuenta{
        display: none;
    }
    
    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar .menu{
        display: none;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    .navbar{
        position: relative;
    }

    .navbar .mi-cuenta{
        display: none;
    }

    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar .menu{
        display: none;
    }
}
