@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:ital,wght@1,500&family=Open+Sans&display=swap");
body {
  font-family: "AktivGrotesk-Regular", sans-serif;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}

img {
  height: 2.5rem;
  width: 2.5rem;
}

html {
  background-color: #E0EEF9;
}

main {
  margin-bottom: 20%;
}

/*Header Todas las paginas*/
.header {
  background-color: #24252A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
}
.header ul {
  margin: 0%;
}
.header li, .header a, .header button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
.header .logo {
  cursor: pointer;
  width: auto;
  margin-right: auto;
}
.header .nav__links {
  list-style: none;
}
.header .nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.header .nav__links li a {
  transition: all 0.3s ease 0s;
}
.header .nav__links li a:hover {
  color: #0088a9;
}
.header button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(0, 136, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*Header todas las paginas*/
/*MAIN INDEX */
.index__contenido {
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.index__contenido h2 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  opacity: 1;
}
.index__contenido p {
  font-size: 1rem;
  text-align: center;
  color: #f3f3f3;
  font-weight: 900;
  opacity: 1;
}
.index__contenido a {
  display: inline-block;
  border: none;
  height: 50px;
  border-radius: 30px;
  padding: 10px 0;
  width: 200px;
  background-color: #f5be09;
  font-size: 0.8rem;
  color: #0f0f0f;
  font-weight: 800;
  transition: 150ms;
  margin-top: 40px;
  text-decoration: none;
  opacity: 1;
}
.index__contenido a:hover {
  transform: translate(0, -5px);
  opacity: 1;
}

.index__artciulovid {
  min-height: 100vh;
  position: relative;
}
.index__artciulovid video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index__capa {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
}

.index__vendidos {
  text-align: center;
  margin-top: 100px;
}
.index__vendidos h4 {
  font-size: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  background-color: rgb(12, 204, 70);
}
.index__vendidos p {
  font-size: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #d32752;
}
.index__vendidos a {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0s;
  text-decoration: none;
  color: #202bbe;
}
.index__vendidos a:hover {
  color: #fd2274;
}

.index__pases {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  margin-top: 50px;
  justify-items: center;
}
.index__pases p {
  background-color: rgb(151, 148, 148);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.index__pases h6 {
  background-color: yellow;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.index__pases h5 {
  background-color: purple;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.index__tituloinfo, .index__info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #d32752;
}

/*MAIN INDEX */
/*Main Pagina Tickets*/
.tickets__titulogeneral h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(255, 166, 0);
  font-weight: 600;
  border: none;
  animation: fadeIn;
  animation-duration: 3s;
}

.tickets__titulovip {
  text-align: center;
  font-size: 15px;
  color: rgb(255, 166, 0);
  font-weight: 600;
  border: none;
  animation: fadeIn;
  animation-duration: 3s;
}

.tickets__ticketlista ul {
  display: grid;
  grid-template-areas: " li input" " li input" " li input" " li input";
  justify-content: center;
  column-gap: 266px;
}
.tickets__ticketlista ul li {
  display: flex;
  grid-column: 1/2;
  font-size: 20px;
  border: solid 1px black;
  width: 255px;
  background-color: rgba(0, 0, 0, 0.836);
  justify-content: center;
  color: #bbb;
  margin-top: 2px;
  border-radius: 2px;
  animation: slideInLeft;
  animation-duration: 3s;
}
.tickets__ticketlista ul input {
  grid-column: 2/3;
  font-family: sans-serif;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  background: black;
  border: solid 2px black;
  color: #fd2274;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1s;
  width: 160px;
  justify-content: center;
  animation: slideInRight;
  animation-duration: 3s;
  border-color: #fd2274;
}
.tickets__ticketlista ul input:hover {
  background-color: rgba(103, 10, 224, 0.952);
}

.tickets__seccion-vip ul {
  display: grid;
  grid-template-areas: "li input";
}

/*Main Pagina Tickets*/
/*Main Pagina TIENDA*/
/*Main Pagina TIENDA*/
/*Main Pagina LINEUP*/
.lineup__imgs {
  min-height: 50vh;
  position: relative;
}
.lineup__imgs .lineup__arribaimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 2;
}
.lineup__imgs .lineup__arribaimg h1 {
  margin-top: 14%;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  opacity: 0.9;
}
.lineup__imgs picture {
  top: 0%;
  left: 0%;
  position: absolute;
  height: 88%;
  width: 100%;
}
.lineup__imgs img {
  top: 0%;
  left: 0%;
  position: absolute;
  height: auto;
  width: 100%;
}

.lineup__img {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

/*Main Pagina LINEUP*/
/*Main Pagina Sobre Nosotros*/
.nosotros__titulo {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.nosotros__ediciones {
  text-align: center;
}

/*Main Pagina Sobre Nosotros*/
.tienda a {
  color: black;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
.tienda a:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg, 80%, 48%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}
.tienda a:active {
  letter-spacing: 3px;
  background-color: hsl(261deg, 80%, 48%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.tienda .card {
  border: 1px solid black;
}
.tienda .card-body {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

/*Footer todas las paginas*/
.footer {
  background-color: #1c1c1d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #ccc;
}

.footer__nombreform {
  text-align: center;
}

.footer__emailform {
  text-align: center;
}

.footer__textform {
  text-align: center;
}

.footer__boton {
  text-align: center;
}

.footer__redes {
  text-align: center;
}

.footer h6 {
  text-align: center;
  margin: 0%;
}

.footer__redes {
  display: flex;
  justify-content: center;
}

/*Footer todas las paginas*/
/* RESPONSIVE SITIO WEB*/
@media screen and (max-width: 540px) {
  * {
    font-size: 15px;
    font-weight: 600;
  }

  /*HEADER TODAS LAS PAGINAS*/
  .header__nav {
    position: relative;
  }

  .header__redireccion {
    display: none;
  }

  .header__logo h1 {
    font-size: 90%;
    margin-left: 5%;
  }

  .header__redes {
    display: none;
  }

  .header__menu-barra {
    display: block;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10%;
  }

  /*HEADER TODAS LAS PAGINAS*/
  /*MAIN INDEX*/
  .index__contenido a {
    display: flex;
    justify-content: center;
    font-size: 100%;
  }

  .index__info {
    position: relative;
  }

  /*MAIN INDEX*/
  /*MAIN TICKETS*/
  .tickets__titulogeneral h2 {
    font-size: 25px;
  }

  .tickets__titulovip h2 {
    font-size: 25px;
  }

  .tickets__ticketlista ul {
    column-gap: 20%;
    font-size: 95%;
    display: flex;
    flex-direction: column;
  }
  .tickets__ticketlista ul li {
    width: 80%;
    align-self: center;
  }
  .tickets__ticketlista ul input {
    margin-bottom: 5%;
    width: 80%;
    align-self: center;
  }

  /*MAIN TICKETS*/
  /*MAIN LINEUP*/
  .lineup__arribaimg h1 {
    font-size: 100%;
  }

  /*MAIN LINEUP*/
}
@media (min-width: 541px) and (max-width: 924px) {
  * {
    font-size: 20px;
    font-weight: 600;
  }

  /*HEADER TODAS LAS PAGINAS*/
  .header__nav {
    position: relative;
  }

  .header__redireccion {
    display: none;
  }

  .header__logo h1 {
    font-size: 90%;
    margin-left: 5%;
  }

  .header__redes {
    display: none;
  }

  .header__menu-barra {
    display: block;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10%;
  }

  /*HEADER TODAS LAS PAGINAS*/
  /*MAIN INDEX*/
  .index__info {
    position: relative;
  }

  /*MAIN INDEX*/
  /*MAIN TICKETS*/
  .tickets__titulogeneral h2 {
    font-size: 25px;
  }

  .tickets__titulovip h2 {
    font-size: 25px;
    font-weight: 600;
  }

  .tickets__ticketlista ul {
    column-gap: 20%;
  }
  .tickets__ticketlista ul li {
    font-size: 100%;
    width: 100%;
    margin-left: 5%;
  }
  .tickets__ticketlista ul input {
    font-size: 100%;
    width: 100%;
  }

  /*MAIN LINEUP*/
  .lineup__arribaimg h1 {
    font-size: 100%;
  }

  /*MAIN LINEUP*/
}
@media (min-width: 925px) and (max-width: 1200px) {
  * {
    font-size: 18px;
    font-weight: 600;
  }

  /*HEADER TODAS LAS PAGINAS*/
  .header__nav {
    position: relative;
  }

  .header__redireccion {
    display: flex;
    justify-content: left;
    width: auto;
  }

  .header__logo h1 {
    font-size: 90%;
    margin-left: 5%;
  }

  .header__redes {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100%;
    height: auto;
  }

  .header__menu-barra {
    display: none;
  }

  /*HEADER TODAS LAS PAGINAS*/
  /*MAIN INDEX*/
  .index__contenido a {
    display: flex;
    justify-content: center;
    font-size: 90%;
  }

  .index__info {
    position: relative;
  }
}
/*MAIN INDEX*/
/*MAIN TICKETS*/
/*MAIN TICKETS*/
@media (min-width: 1201px) {
  * {
    font-size: 20px;
    font-weight: 600;
  }

  /*MAIN INDEX*/
  .index__contenido a {
    display: flex;
    justify-content: center;
    font-size: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
