
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-weight: 600;
    
}

img{
    width: 50px;
    height: 50px;
}


html{
    background-color: #E0EEF9;
}

/*Header Todas las paginas*/


header{
    background-color: #25252A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 50px;
}

.header__logo{
    display: flex;
    justify-content:center;
}

.header__logo h1{
    align-self: center;
    color: #ccc;
    font-size: 20px;
}

.header__menu-bar{
    display: none;
}

.header__nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__redireccion{
    display: flex;
    width: 800px;
    justify-content: center;
    list-style: none;
}

.header__listas li{
    display: inline-block;
    padding: 0px 40px;
    font-size:  15px ;
    background: none;
}

.header__listas li a{
    color: #ccc;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0s;
}

.header__listas li a:hover{
    color: #fff;
}


/*Header todas las paginas*/


/*MAIN INDEX */


.main-index__artciulovid{
    text-align: center;
}

.main-index__artciulovid iframe{
    width: 1000px;
    height: 400px;
    margin-bottom: 44px;
}

.main-index__vendidos{
    text-align: center;
    margin-top: 100px;
}

.main-index__vendidos a{
    cursor: pointer;
    transition-property: all;
    transition-duration: 0s;
}

.main-index__vendidos a:hover{
    color: #fd2274;
}

.main-index__pases{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin-top: 50px;
    justify-items: center;
}

.main-index__tituloinfo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.main-index__info{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}


/*MAIN INDEX */


/*Main Pagina Tickets*/


.main-tickets__titulogeneral h2{
    border: solid 1px black;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 166, 0);
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: none;
    animation: zoomIn;
    animation-duration: 3s;
}

.main-tickets__titulovip{
    text-align: center;
    border: solid 1px black;
    font-size: 15px;
    color: rgb(255, 166, 0);
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: none;
    animation: zoomIn;
    animation-duration: 3s;
}

.main-tickets__ticketlista ul{
    display: grid;
    grid-area: "li input
                li input
                li input
                ;
    justify-content: center;
    column-gap: 266px;
}

.main-tickets__ticketlista ul li{
    display: flex;
    grid-column: 1/2;
    font-size: 20px;
    border: solid 1px black;
    width: 255px;
    background-color: rgba(0, 0, 0, 0.836);
    justify-content: center;
    color: #bbb;
    margin-top: 2px;  
    border-radius: 2px;
    animation: slideInLeft;
    animation-duration: 3s;
    
    
}

.main-tickets__ticketlista ul input{
    grid-column: 2/3;
    font-family: sans-serif;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    background: black;
    border: solid 2px black;
    color: #fd2274;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition-property:background-color;
    transition-duration: 1s;
    width: 160px;
    justify-content: center;
    border-color: #fd2274;
    animation: slideInRight;
    animation-duration: 3s;
}

.main-tickets__ticketlista ul input:hover{
    background-color: rgba(103, 10, 224, 0.952);

}

/*Main Pagina Tickets*/



/*Footer todas las paginas*/



.footer{
    background-color: #25252A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #ccc;
    margin-top: 100px;
}

.footer__nombreform{
    text-align:center;

}


.footer__emailform{
    text-align: center;
}

.footer__textform{
    text-align: center;
}

.footer__boton{
    text-align: center;
}

.footer__redes{
    text-align: center;
}

.footer h4{
    text-align: center;
}

.footer__redes{
    display: flex;
    justify-content: center;
}


/*Footer todas las paginas*/



/* RESPONSIVE SITIO WEB*/





@media screen and (max-width: 520px){
*{
   font-size: 15px;
   font-weight: 600;
}


        /*HEADER TODAS LAS PAGINAS*/


.header__nav{
    position: relative;
}

.header__redireccion {
    display: none;
}

.header__logo h1{
    font-size: 90%;
    margin-left: 5%;
}

.header__redes{
    display: none;
}

.header__menu-bar{
    display: block;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10%;
}


        /*HEADER TODAS LAS PAGINAS*/



        /*MAIN INDEX*/




.main-index__artciulovid iframe{
    position: relative;
    width: 80%;
    height: 100%;
    justify-items: center;
}
.main-index__info {
    position: relative;
}
    
        /*MAIN INDEX*/


        /*MAIN TICKETS*/

.main-tickets__titulogeneral h2{
    font-size: 25px;
}

.main-tickets__titulovip h2{
    font-size: 25px;
}

.main-tickets__ticketlista ul{
    column-gap: 20%;
}

.main-tickets__ticketlista ul li{
    font-size: 100%;
    width: 80%;
    margin-left: 5%;
}

.main-tickets__ticketlista ul input{
    font-size: 100%;
    width: 80%;
}


        /*MAIN TICKETS*/
}



@media (min-width: 521px) and (max-width: 900px){
    *{
        font-size: 20px;
        font-weight: 600;
    }
     
     
        /*HEADER TODAS LAS PAGINAS*/
     
     
    .header__nav{
        position: relative;
    }
     
    .header__redireccion {
        display: none;
    }
     
    .header__logo h1{
        font-size: 90%;
        margin-left: 5%;
    }
     
    .header__redes{
        display: none;
    }
     
    .header__menu-bar{
        display: block;
        text-align: center;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: 10%;
    }
     
     
        /*HEADER TODAS LAS PAGINAS*/
     



     
        /*MAIN INDEX*/
     
    .main-index__artciulovid iframe{
        position: relative;
        width: 80%;
        height: 50vh;
        justify-items: center;
    }

    .main-index__info {
        position: relative;
    }
         
        /*MAIN INDEX*/
    

        /*MAIN TICKETS*/


    .main-tickets__titulogeneral h2{
        font-size: 25px;
    }

    .main-tickets__titulovip h2{
        font-size: 25px;
        font-weight: 600;
    }

    .main-tickets__ticketlista ul{
        column-gap: 20%;
    }

    .main-tickets__ticketlista ul li{
        font-size: 100%;
        width: 100%;
        margin-left: 5%;
}

    .main-tickets__ticketlista ul input{
        font-size: 100%;
        width: 100%;
    
}


        /*MAIN TICKETS*/

}




@media (min-width: 901px) and (max-width: 1200px){
    *{
        font-size: 18px;
        font-weight: 600;
    }
     
     
        /*HEADER TODAS LAS PAGINAS*/
     


    .header__nav{
        position: relative;
    }
    
    .header__redireccion{
        display: flex;
        justify-content: left;
        width: auto;
    }
    
    .header__redireccion li{
        padding: 20px;
        
    }
     
    .header__logo h1{
        font-size: 90%;
        margin-left: 5%;
    }
     
    .header__redes{
        display: flex;
    }
     
    .header__menu-bar{
        display: none;
    }
     
     
        /*HEADER TODAS LAS PAGINAS*/
     
     


        /*MAIN INDEX*/
     
    .main-index__artciulovid iframe{
        position: relative;
        width: 80%;
        height: 50vh;
        justify-items: center;
    }

    .main-index__info {
        position: relative;
    }
         
        /*MAIN INDEX*/        


        /*MAIN TICKETS*/
    

        /*MAIN TICKETS*/
}

@media (min-width: 1201px) and (max-width: 1700px){
    *{
        font-size: 20px;
    }

        /*MAIN INDEX*/   
        
    .main-index__artciulovid iframe{
        position: relative;
        width: 80%;
        height: 50vh;
        justify-items: center;
    }
    
        /*MAIN INDEX*/       
}
